:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #f4f7f6;
    --white-color: #fff;
    --text-color: #333;
    --border-color: #ccc;
    --hover-bg-color: #0056b3;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
    max-width: 700px;
}

form {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    width: 100%;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input[type="text"], input[type="number"], button, select, input[type="file"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus, input[type="file"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}

.result h2 {
    color: var(--primary-color);
    font-size: 1.4em;
    margin-bottom: 20px;
}

.result img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-link {
    margin-top: 20px;
    font-size: 1.2em;
}

.download-link a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.download-link a:hover {
    color: var(--secondary-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--white-color);
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
